{% extends 'base.html.twig' %}
{% set previous = offset >= 1 ? offset - 1 : 0 %}
{% set next = offset + 1 %}

{% block body %}

    <legend>Previous Beer <span class="previous-day">(or Beer Gallery, as you prefer...)</span></legend>

    {% if picture != null %}
      <div class="row">
          <div class="offset-3 col-6 mb-3">
            {% include '/components/_pagination.html.twig' with {'path': 'picture-gallery', 'page_max': maxoffset} %}
          </div>
      </div>
      <div class="row">
        <p class="offset-3 col-6">Published on the {{ picture.day|date("d/m/Y") }} !</p>
      </div>
      <div class="row">
          <div class="offset-2 col-1">
            {% if previous < offset %}
              <a href="{{ path('picture-gallery', { offset:previous }) }}" class="nav-link">
                <i class="fas fa-arrow-left fa-2x"></i></a>
            {% endif %}
          </div>
          {% if picture.name %}
              <div class="col-6">
                  <h3 class="delay-picture-ttl">{{ picture.name }}<h3>
              </div>
          {% endif %}
          <div class="col-1">
            {% if (next > offset) and (next <= maxoffset) %}
              <a href="{{ path('picture-gallery', { offset:next }) }}" class="nav-link">
                <i class="fas fa-arrow-right fa-2x"></i></a>
            {% endif %}
          </div>
      </div>
      <div class="row">
          <div class="offset-3 col-6">
              <img class="delay-picture" alt="picture" src="{{ asset('uploads/pictures/' ~ picture.path ) }}">
          </div>
      </div>
      <div class="row">
          {% if picture.description %}
              <div class="offset-3 col-6">
                  <p class="delay-picture-desc">"{{ picture.description }}"<p>
              </div>
          {% endif %}
          {% if picture.author %}
              <div class="offset-3 col-6">
                  <p class="delay-picture-author">Proposed by <b>{{ picture.author }}</b> <span class="info">(submitted on {{ picture.date|date("d/m/Y")  }})</span><p>
              </div>
          {% endif %}
      </div>
      <div class="row">
          <div class="offset-3 col-6 mb-3">
            {% include '/components/_pagination.html.twig' with {'path': 'picture-gallery', 'page': offset, 'page_max': maxoffset} %}
          </div>
      </div>
    {% else %}
      {% include('/components/_no-picture.html.twig') %}
    {% endif %}

{% endblock %}