{% extends 'base.html.twig' %}

{% block body %}

    <legend>All pictures</legend>

    <div class="table-responsive table-hover">
        <table id="picture-list" class="table table-bordered table-striped">

            <thead>
                <td class="col-xs-1 text-center sorter-false filter-false">Picture</td>
                <td class="col-xs-1 text-center sorter-false filter-false">Name</td>
                <td class="col-xs-1 text-center">Author</td>
                <td class="col-xs-1 text-center">Create at</td>
                <td class="col-xs-1 text-center">Display Day</td>
                <td class="col-xs-1 text-center sorter-false filter-false">Description</td>
                <td class="col-xs-1 text-center sorter-false filter-false">Choose Day</td>
                <td class="col-xs-1 text-center sorter-false filter-false">Update</td>
                <td class="col-xs-1 text-center sorter-false filter-false">Delete</td>
            </thead>

            <tbody>
                {% set app_token = csrf_token(app_csrf_token) %}
                {% for picture in pictures %}
                    <tr>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target={{ "#pictureModal" ~ picture.id }}>
                                <i class="fas fa-image fa-2x"></i>
                            </button>
                        </td>
                        <td class="text-center">{{ picture.name }}</td>
                        <td class="text-center">{{ picture.author }}</td>
                        <td class="text-center">{{ picture.date|date("d/m/Y") }}</td>
                        <td class="text-center">{{ picture.day ? picture.day|date("d/m/Y") : '-' }}</td>
                        <td class="text-center">{{ picture.description }}</td>
                        <td class="text-center">
                            {% if picture.day %}
                                <a href="{{ path('picture-desactivate', { id:picture.id, token:app_token }) }}"
                                class="btn btn-warning btn-block">Unselect Day</a>
                            {% else %}
                                <button type="button" class="btn btn-primary btn-block choose-day" data-toggle="modal" data-id={{picture.id}} data-target="#calendarModal">
                                    Choose Day
                                </button>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ path('picture-update', { id:picture.id, token:app_token }) }}"
                            class="btn btn-warning btn-block">Update</a>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('picture-delete', { id:picture.id, token:app_token }) }}"
                            class="btn btn-danger btn-block confirmation-required" data-text="The picture will be deleted, are you sure ?">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for picture in pictures %}
            {% include('components/_update-picture.html.twig') %}
        {% endfor %}
        {% include('components/_update-calendar.html.twig') %}
    </div>

{% endblock %}