<div class="d-flex justify-content-center">
  {% if offset > 0 %}
    <a href="{{ path(path, { offset:0 }) }}"><i class="fas fa-backward"></i></a>
    <span class="mx-2"></span>
    {% set value = offset -1 %}
    <a href="{{ path(path, { offset:value }) }}"><i class="fas fa-step-backward"></i></a>
    <span class="mx-2"></span>
  {% endif %}

  {% for i in 5..1 %}
    {% set value = offset - i %}
    {% if value >= 0 %}
      <a href="{{ path(path, { offset:value }) }}">{{value}}</a>
      <span class="mx-2">,</span>
    {% endif %}
  {% endfor %}

  {{offset}}
  {% if offset < maxoffset %}
    <span class="mx-2">,</span>
  {% endif %}

  {% for i in 1..5 %}
    {% set value = offset + i %}
    {% if value <= maxoffset %}
      <a href="{{ path(path, { offset:value }) }}">{{value}}</a>
    {% endif %}
  {% endfor %}

  {% if offset < maxoffset %}
    {% set value = offset +1 %}
    <span class="mx-2"></span>
    <a href="{{ path(path, { offset:value }) }}"><i class="fas fa-step-forward"></i></a>
    <span class="mx-2"></span>
    <a href="{{ path(path, { offset:maxoffset }) }}"><i class="fas fa-forward"></i></a>
  {% endif %}
</div>